*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

.main, .bg{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    position: fixed;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.music-player{
    position: absolute;
    z-index: 999;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70vh;
    width: 25vw;
    background-color: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(20, 0, 0, 0.15);
}

.float{
    height: 75%;
    width: 86%;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 8px 24px rgba(20, 16, 11, 0.8);
}

.float img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.details{
    position: absolute;
    top: 60%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.music-name{
    font-size: 22px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.artist{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: -16px;
}

.progress-bar{
    height: 5px;
    width: 90%;
    cursor: pointer;
    border-radius: 6px;
    background-color: white;
}

.progress{
    height: 100%;
    width: 0;
    background-color:#212121;
    border-radius: 6px;
    transition: width 0.1s linear;
}

.time{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -25px;
}

span{
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.buttons{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 25px;
}

.buttons img{
    height: 32px;
    cursor: pointer;
}

.play{
    display: none;
}

.shuffle {
    position: absolute;
    left: 10%;
    height:22px;
}

i{
    position: absolute;
    font-size: 24px;
    position: absolute;
    right: 10%;
}


.background,
.float_img {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}


@media (max-width:600px) {
    .music-player{  
        height: 50vh;
        width: 40vh;
    }

    .music-name{
        font-size: 20px;
    }
    
    .artist{
        font-size: 14px;
    }
}
